.sidebar {
  background-color: #171717;
  color: #b4b4b4;
  height: 100vh;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newBtn {
  display: flex;
  gap: 10px;
  align-items: center;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.05);
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  color: #ececec;
}

.logo {
  height: 28px;
  width: 28px;
  object-fit: cover;
  background: #fff;
  border-radius: 50%;
}

.history {
  margin: 10px;
  padding: 10px;
  height: 100%;
  overflow-y: auto;
}

.history li {
  list-style-type: none;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 0.4rem;
  font-size: 14px;
  position: relative;
  border-radius: 8px;
}

.history li:hover {
  background-color: rgba(180, 180, 180, 0.05);
}

.fa-trash {
  opacity: 0;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.history li:hover .fa-trash {
  opacity: 1;
  color: #fff;
}

.sign {
  padding: 10px;
  margin: 10px;
  font-size: 14px;
  text-align: center;
  border-top: solid 0.25px rgba(255, 255, 255, 0.05);
}

.logoutBtn {
  background: #bb0000;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 8px;
}

.highlighted {
  background-color: rgba(180, 180, 180, 0.03);
}
